name: Deploy React App to S3

on:
  push:
    branches:
      - main
    paths:
      - 'course-site-with-nodejs-backend-db/**'

jobs:
  deploy:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: course-site-with-nodejs-backend-db/course-site

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm ci

      - name: Build React app
        run: npm run build
        
      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: arn:aws:iam::050752632489:role/web-app-role-for-github
          aws-region: eu-central-1

      - name: Deploy to S3
        uses: jakejarvis/s3-sync-action@v0.5.1
        with:
          args: --delete
        env:
          AWS_S3_BUCKET: course-web-app-iitc-raect
          SOURCE_DIR: frontend/build
